@model PcConfigurator.Models.HomeModels.ConfigurationFormModel
@{
    IList<SelectListItem> cpuBrandSelectItems = Enumerable.Empty<SelectListItem>() as IList<SelectListItem>;
    if (Model.CpuBrandList != null)
    {
        cpuBrandSelectItems = Model.CpuBrandList
            .Select(s => new SelectListItem { Text = s, Value = s })
            .ToList();
    }
}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row form-group">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                @Html.DropDownList("CpuBrand", cpuBrandSelectItems, "Brand", new {@class = "form-control", @data_url = @Url.Action("LoadCpuSocket", "Cpu")})
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                @Html.DropDownList("CpuSocket", Enumerable.Empty<SelectListItem>(), "Socket", new {@class = "form-control", @data_url = @Url.Action("LoadCpuId", "Cpu"), @style = "display:none;"})
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                @Html.DropDownList("CpuId", Enumerable.Empty<SelectListItem>(), "Model", new {@class = "form-control", @data_url = @Url.Action("LoadCpu", "Cpu"), @style = "display:none;"})
            </div>
        </div>
    </div>
</div>
<div id="CpuView"></div>