<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PcConfigurator</title>
    @Styles.Render("//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css")
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("https://code.jquery.com/jquery-2.1.4.min.js")
    @Scripts.Render("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    @Scripts.Render("~/bundles/custom")

    @RenderSection("scripts", false)
</body>
</html>
